name: Build

on:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: "Setup rokit"
        uses: CompeyDev/setup-rokit@v0.1.2

      - name: "Run wally install"
        run: |
          lune run wally-install

      - name: "Build standalone rbxm"
        run: |
          lune run build-standalone bufferize-${{ github.ref_name }}.rbxm

      - name: Upload build artifact
        uses: actions/upload-artifact@v6
        with:
          name: build
          path: |
            bufferize-${{ github.ref_name }}.rbxm